@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&family=Montserrat&display=swap');

:root {
    /* universal colour styling variables */
    --theme-one: 96, 115, 26;           /* Feed vars insto rgba, give addiional control over opacity is desired */
    --theme-two: 140, 72, 48;
    --theme-three: 174,191,136;
    --theme-four: 112, 166, 31;
    --theme-five: 112, 166, 31;
}

*, *::before, *::after {              /* box sizing reset */
    box-sizing: border-box;           /* Add box sizing to include padding and border in measurements */
}

body {
    margin: 0;
    height: 100vh;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 0;
    padding: 0px 0.5rem;                                                       /* padding to keep elements away from very edge of screen */
}

h2 {
    background-color: rgba(var(--theme-five), 1);
    color: white;
    border-radius: 10px;
    font-family: 'Cormorant';
    text-transform: uppercase;
    padding: 0.5rem 0;
}

h3 {
    background-color: rgba(var(--theme-two), 1);
    color: white;
    border-radius: 10px;
    font-family: 'Cormorant';
    padding: 0.25rem 0;
}

footer {
    background: rgba(var(--theme-two), 0.85);
    text-align: center;
    z-index: 50;
    width: 100%;
    text-align: center;
    margin: 0;
    color: white;
    margin: 0;
    border-top: 2px solid rgba(var(--theme-five), 1);
    border-bottom: 2px solid rgba(var(--theme-five), 1);
    border-radius: 10px 10px 0 0;

}

footer > form {
    padding: 0 0.5rem;
}

footer a {
    color: white;
    font-size: 3rem;
}

.social {
    display: inline;
    margin: 0 1%;
    padding: 0 5%;
}

footer p {
     color: white;
    margin: 0.5rem 0;
}

.images {
    border-radius: 10px;
    border: 2px solid rgba(var(--theme-two), 1);
}

hr {
    border: 1px solid var(--theme-two);
}

/* fix header to top of page so menu is accessible to user rather than having to scroll all the way to top or bottom for nav links when in middle of page */

header {
    background: rgba(var(--theme-five), 0.85);
    position: fixed;                     /* takes header out of the flow therefore loses padding applied to whole body */
    transform: translateX(-0.5%);        /* stackoverflow hack - translateX to move header to left to appear more centered -0.5% is best fit */
    z-index: 50;
    width: 100%;
    text-align: left;
    margin: 0;
    border-top: 2px solid rgba(var(--theme-two), 1);
    border-bottom: 2px solid rgba(var(--theme-two), 1);
    border-radius: 0 0 10px 10px;
}

header > a {                             /* target only the fa fas seedling header link that navs user back to top of page. Don't want it to show clicked link formatting */
    color: white;                       /* note could have reuse .link-home class but wanted to demonstrate knowledge of using a first child ( > ) selector */
    font-size: 1.75rem;
    margin: 1rem;
}

.hero-bg {
    background: url(../images/hero-bg.jpg) no-repeat center center;
    position: relative;
    overflow: hidden;
    height: 900px;
    width: 100%;
}

.logo {
    display: inline;                    /* display inline removes space from around text - easier to position stock horizontal bar!*/
    font-family: 'Cormorant Garamond';
    color: rgba(var(--theme-two), 1);
    background-color: white;
    padding: 0.25rem;
    border: 2px solid rgba(var(--theme-two), 1);
    border-radius: 10px;
    margin-right: 1rem;
    position: absolute;
    top: 16%;
    right: 6%;                          /* position from right to prevent text being going outside right of image */
}

h1 span {
    font-family: 'Montserrat';
    color: rgba(var(--theme-three), 1);
}

/* nav styling ======================================================================================================================================== */

#nav-toggle {
    display: none;
}                        /* hide unsightly nav-toggle checkbox */

.nav-toggle-label {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1rem;
    font-size: 1.5rem;
    height: 100%;
    display: flex;
    align-items: flex-end;
    color: white;
    border-radius: 1rem;
}

nav {
    background: rgba(var(--theme-five), 0.85);    /* problem with nav after selecting option in menu it doesn't automatically hide.  Need JS function for this or other peusdo class in css... */
    width: 100%;
    position: absolute;
    text-align: right;
    top: 100%;
    right: 0;
    display: none;
}

nav ul {
    margin: 0;
    padding: 1rem;

}

nav li {
    margin-bottom: 1rem;
    margin-left: 1rem;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
}

nav a:hover {
    color: white;
    border-top: 5px solid rgba(var(--theme-two), 1);
    border-bottom: 5px solid rgba(var(--theme-two), 1);
}

/* 
Look for nav which is a sibling of nav toggle (ie the checkbox added to the index html code.
When check box is checked display:block will show menu which is defaulted to hidden by display: none in nav
*/

.nav-toggle:checked ~ nav {
    display: block;
}

/*table styling====================================================================================================== */

table {
    margin-left: auto;
    margin-right: auto;
}

table th {
    background-color: rgba(var(--theme-two), 1);
    color: white;
}

table th, table td {
    border: 1px solid rgba(var(--theme-two), 1);
    border-radius: 10px;
    padding: 5px;
    }

table tr:hover {background-color: rgba(var(--theme-three), 1)    /* help user focus on table content */
}