@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Cormorant:ital,wght@1,300&family=Montserrat&display=swap');

:root {
/* universal colour styling variables, Feed vars insto rgba to give addiional control over opacity */

    --theme-one: 96, 115, 26;
    --theme-two: 140, 72, 48;
    --theme-three: 174, 191, 136;
    --theme-four: 112, 166, 31;
    --theme-five: 112, 166, 31;
}

/* Add box sizing to include padding and border in measurements */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* MOBILE SITE */
@media only screen and (max-width: 1250px)
{
/* BODY */
html {
    scroll-behavior: smooth;
}

body {
    min-width: 300px;
    margin: 0;
    height: 100vh;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-align: center;
}

/* padding to keep elements away from very edge of screen without affecting fixed header */
.container {
    padding: 0px 0.5rem;
}

a {
    text-decoration: none;
}

section[id] {
    scroll-margin-top: 121px;
}

h2 {
    background-color: rgba(var(--theme-one), 1);
    color: white;
    border-radius: 10px;
    font-family: 'Cormorant';
    padding: 0 0.25rem;
}

h3 {
    background-color: rgba(var(--theme-two), 1);
    color: white;
    border-radius: 10px;
    font-family: 'Cormorant';
    padding: 0.25rem 0;
}

.main-quote {
    background-color: rgba(var(--theme-five), 0.85);
    font-family: 'Caveat', Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    padding: 0.5em;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, rgba(var(--theme-five)), rgba(var(--theme-four)));
    color: black;
}

.images {
    border-radius: 10px;
    border: 2px solid rgba(var(--theme-two), 1);
    width: 90%
}

.iframe-container {
    position: relative;
    overflow: hidden;
    width: 90%;
    padding-top: 46.25%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:  1rem;
}

.responsive-iframe {
    border-radius: 10px;
    border: 2px solid rgba(var(--theme-two), 1);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;

}

.hero-bg {
    background: url(../images/hero-bg.jpg) no-repeat center center;
    position: relative;
    overflow: hidden;
    min-height: 900px;
    width: 100%;
    border-radius: 0 0 10px 10px;
}

h1 span {
    font-family: 'Montserrat';
    color: rgba(var(--theme-three), 1);
    font-size: 0.6em;
}

figcaption,
#plants a {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

/* TABLES */
table {
    margin-left: auto;
    margin-right: auto;
}

table th {
    background-color: rgba(var(--theme-two), 1);
    color: white;
}

table th,
table td {
    border: 1px solid rgba(var(--theme-two), 1);
    border-radius: 10px;
    padding: 5px;
}

/* alternate cover every 2nd row for improved readability */
table tr:nth-child(even) {
    background-color: rgba(var(--theme-three), 1);
    color: black;
}

/* help user focus on table content */
table tr:hover {
    background-color: rgba(var(--theme-four), 1);
    color: black;
}

/* FOOTER */
footer {
    background: rgba(var(--theme-two), 1);
    text-align: center;
    z-index: 50;
    width: 100%;
    text-align: center;
    margin: 0;
    color: white;
    margin: 0;
    border-top: 2px solid rgba(var(--theme-five), 1);
}

footer > form {
    padding: 0 0.5rem;
}

footer a {
    color: white;
    font-size: 3rem;
    padding: 0 1rem;
}

.social {
    display: none;
}

.social :hover {
    transform: scale(1.2);
}

footer p {
    color: white;
    padding: 0.5rem;
    margin: 0.5rem 0rem;
}

footer input {
    font-size: 1.2em;
    padding: 0.25em;
    margin-top: 0.5em;
    border-radius: 10px;
    max-width: 90%;
}

footer input:focus {
    border: 4px solid rgba(var(--theme-one), 1);
}

footer input[type="submit"] {
    /* color: white; */
    background: rgba(var(--theme-one), 1);
    color: white;
    font-size: 1.2em;
}

footer input[type="submit"]:hover {
    color: white;
    background: rgba(var(--theme-one), 1);
}

/* HEADER */
.header {
    background: rgba(var(--theme-one), 1);
    position: fixed;
    z-index: 50;
    width: 100%;
    text-align: center;
    margin: 0;
    border-bottom: 2px solid rgba(var(--theme-two), 1);
    color: white;
}

.logo {
    font-family: 'Garamond';
    color: rgba(var(--theme-two), 1);
    background-color: white;
    padding: 0.5rem;
    border: 2px solid rgba(var(--theme-two), 1);
    border-radius: 10px;
    margin: 1rem 1rem;
    float: left;
}

.logo:hover {
    transform: scale(1.05);
}

/* NAVIGATION (mobile) */
/* nav toggle using textbox courtesy of Kevin Powell tutorial @ https://www.youtube.com/watch?v=8QKOaTYvYUA */
#nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1rem;
    font-size: 1.5rem;
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
    border-radius: 1rem;
}

.nav-toggle-label:hover {
    transform: scale(1.2);
}

nav {
    background: rgba(var(--theme-one), 1);
    width: 100%;
    position: absolute;
    text-align: right;
    top: 100%;
    right: 0;
    display: none;
}

nav ul {
    margin: 0;
    padding: 1rem;

}

nav li {
    margin-bottom: 1rem;
    margin-left: 1rem;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
}

nav a:hover {
    color: white;
    border-top: 5px solid rgba(var(--theme-two), 1);
    border-bottom: 5px solid rgba(var(--theme-two), 1);
}

.nav-toggle:checked~nav {
    display: block;
}
}
/* end of MOBILE/TABLET media query max-width: 1250px */

/*DESKTOP 1250px/75em */

@media only screen and (min-width: 1250px) {
/*BODY */
html {
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-flow: row;
    height: 100vh;
    font-family: 'Montserrat';
    margin: 0;
}

a {
    text-decoration: none;
}

h1 span {
    font-family: 'Montserrat';
    color: rgba(var(--theme-three), 1);
    font-size: 0.6em;
}

h2 {
    background-color: rgba(var(--theme-one), 1);
    color: white;
    font-family: 'Cormorant';
    padding: 0 0.25rem;
}

h3 {
    background-color: rgba(var(--theme-two), 1);
    color: white;
    font-family: 'Cormorant';
    margin: 0;
    border-radius: 3px 3px 0 0;
    padding: 0.25rem 0;
}

/* elements touching, gap needed. Add gap to .container explicit grid set up */
.container {
    display: grid;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-align: center;
}

.header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    z-index: 50;
    text-align: center;
    margin: 0;
    color: white;
    background: linear-gradient(to bottom, rgba(var(--theme-one), 1), rgba(var(--theme-one), 0.9));
    position: relative;
}

/* hide unsightly nav-toggle checkbox on desktop, hamburger icon no longer needed as space for full menu format on desktop site */
.nav-toggle,
.nav-toggle-label {
    display: none;
}

.logo {
    font-family: 'Garamond';
    color: rgba(var(--theme-two), 1);
    background-color: white;
    padding: 0.5rem;
    border: 2px solid rgba(var(--theme-two), 1);
    border-radius: 10px;
    margin: 0.5rem 0.5rem;
    float: left;
}

/*NAVIGATION (desktop) */
#menu {
    background: rgba(var(--theme-one), 1);
    letter-spacing: 2px;
}

#menu ul {
    float: right;
    position: absolute;
    top: 25px;
    right: 4px;

}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 1rem;
}

#menu a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
}

#menu a:hover {
    border-top: 5px solid rgba(var(--theme-two), 1);
    border-bottom: 5px solid rgba(var(--theme-two), 1);
    padding: 4px;
    transform: scale(1.1);
}

.hero-bg {
    /* background-color: azure; */
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    background: url(../images/hero-bg.jpg) no-repeat center center;
    overflow: hidden;
    min-height: 925px;
    border-radius: 0 0 10px 10px;
    /* Credit - Code Institute LOVE RUNNING walkthrough project 10% zoom animation. Adapted method to transform a 100% grayscale filtered to color image. */
    filter: grayscale(100%);
    animation-name: color-increase;
    animation-timing-function: ease-in;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    /* retain colour animation after running on webpage opening */
}

.iframe-container {
    position: relative;
    overflow: hidden;
    width: 90%;
    padding-top: 46.25%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:  1rem;
}

.responsive-iframe {
    border-radius: 10px;
    border: 2px solid rgba(var(--theme-two), 1);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;

}

@keyframes color-increase {
    from {
        filter: grayscale(100%);
    }

    to {
        filter: grayscale(0%);
    }
}

/* Grid setup as per Wes Bos presentation https://www.youtube.com/watch?v=DCZdCKjnBCs */
.aquascaping {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}

.components {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
}

.components-wood {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    border: 7px solid rgba(var(--theme-one), 1);
    border-radius: 5px;
    margin: 4px;
    background-color: rgba(var(--theme-three), 1);
}

.components-rock {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    border: 7px solid rgba(var(--theme-one), 1);
    border-radius: 5px;
    margin: 4px;
    background-color: rgba(var(--theme-three), 1);
}

.components-substrate {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    border: 7px solid rgba(var(--theme-one), 1);
    border-radius: 5px;
    margin: 4px;
    background-color: rgba(var(--theme-three), 1);
}

.components-wood p,
.components-rock p,
.components-substrate p {
    color: black;
    padding: 0 20px;
}

.styles {
    grid-column: 1 / 4;
    grid-row: 5 / 6;
}

.styles-dutch {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
    border: 7px solid rgba(var(--theme-one), 1);
    border-radius: 5px;
    margin: 4px;
    background-color: rgba(var(--theme-three), 1);
}

.styles-iwagumi {
    grid-column: 2 / 3;
    grid-row: 6 / 7;
    border: 7px solid rgba(var(--theme-one), 1);
    border-radius: 5px;
    margin: 4px;
    background-color: rgba(var(--theme-three), 1);
}

.styles-nature {
    grid-column: 3 / 4;
    grid-row: 6 / 7;
    border: 7px solid rgba(var(--theme-one), 1);
    border-radius: 5px;
    margin: 4px;
    background-color: rgba(var(--theme-three), 1);
}

.styles-dutch p,
.styles-iwagumi p,
.styles-nature p {
    color: black;
    padding: 0 20px;
}

.fish {
    grid-column: 1 / 4;
    grid-row: 7 / 8;
}

.fish-cardinal-tetra {
    grid-column: 1 / 2;
    grid-row: 9 / 10;
    border: 7px solid rgba(var(--theme-one), 1);
    border-radius: 5px;
    margin: 4px;
    background-color: rgba(var(--theme-three), 1);
}

.fish-dwarf-gourami {
    grid-column: 2 / 3;
    grid-row: 9 / 10;
    border: 7px solid rgba(var(--theme-one), 1);
    border-radius: 5px;
    margin: 4px;
    background-color: rgba(var(--theme-three), 1);
}

.fish-amano-shrimp {
    grid-column: 3 / 4;
    grid-row: 9 / 10;
    border: 7px solid rgba(var(--theme-one), 1);
    border-radius: 5px;
    margin: 4px;
    background-color: rgba(var(--theme-three), 1);
}

.fish-cardinal-tetra p,
.fish-dwarf-gourami p,
.fish-amano-shrimp p,
.fish-neocardina-davidi p {
    padding: 0 5%;
    color: black;
}

.plants {
    grid-column: 1 / 4;
    grid-row: 11 / 12;
}

.footer {
    grid-column: 1 / 4;
    grid-row: 13 / 14;
}

.main-quote {
    background-color: rgba(var(--theme-two), 1);
    font-family: 'Caveat', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    padding: 0.5em;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, rgba(var(--theme-four)), rgba(var(--theme-five)));
    color: black;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

figcaption {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.images {
    border-radius: 10px;
    border: 2px solid rgba(var(--theme-two), 1);
    width: 90%;
}

/* TABLE */
table {
    margin-left: auto;
    margin-right: auto;
    width: 90%
}

table th {
    background-color: rgba(var(--theme-two), 1);
    color: white;
}

table th,
table td {
    border: 1px solid rgba(var(--theme-two), 1);
    border-radius: 10px;
    padding: 5px;
}

table tr:nth-child(odd) {
    background-color: whitesmoke;
}

table tr:nth-child(even) {
    background-color: rgba(var(--theme-four), 1);
    color: black;
}

table tr:hover {
    background-color: rgba(var(--theme-one), 1);
    color: white;
}

/* FOOTER */
footer {
    background: rgba(var(--theme-two), 1);
    text-align: center;
    z-index: 50;
    width: 100%;
    text-align: center;
    margin: 0;
    color: white;
    margin: 0;
    border-top: 2px solid rgba(var(--theme-five), 1);
}

footer > form {
    padding: 0 0.5rem;
}

footer a {
    color: white;
    font-size: 3rem;
    padding: 0 1rem;
}

.social {
    display: inline;
}

.social :hover {
    transform: scale(1.2);
}

footer p {
    color: white;
    margin: 0.5rem 0;
}

footer input {
    font-size: 1.2em;
    padding: 0.25em;
    margin-top: 0.5em;
    border-radius: 10px;
}

footer input:focus {
    border: 4px solid rgba(var(--theme-five), 1);
}

footer input[type="submit"] {
    /* color: white; */
    background: rgba(var(--theme-five), 1);
    color: white;
    font-size: 1.2em;
}

footer input[type="submit"]:hover {
    color: white;
    background: rgba(var(--theme-one), 1);
}
}
/* end of media query min-width: 1250px (desktop) */