@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&family=Montserrat&display=swap');

:root {
    /* universal colour styling variables */
    --theme-one: rgba(96, 115, 26, 0.85);
    --theme-two: rgba(140, 72, 48, 0.85);
    --theme-three: rgba(174,191,136, 0.85);
    --theme-four: rgba(112, 166, 31, 0.85);
    --theme-five: rgba(112, 166, 31, 0.85);
}

*, *::before, *::after {              /* box sizing reset */
    box-sizing: border-box;           /* Add box sizing to include padding and border in measurements */
}

body {
    margin: 0;
    height: 100vh;
    font-family: 'Arial', 'Cormorant Garamond', 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 0;
}

footer {
    text-align: center;
    margin: 0;
}

#hero-bg {
    height : 900px;
    width: 100%;
    background: url(../images/hero-bg.jpg) no-repeat center center;
}

/* nav styling */

header {
    background: var(--theme-five);
    text-align: center;
    position: fixed;
    z-index: 50;
    width: 100%;

}

.logo {
    margin: 0;
}

.nav-toggle {
    display: none;
}                        /* hide unsightly nav-toggle checkbox */

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1rem;
    height: 100%;
    display: flex;
    align-items: center;
}

nav {
    background: var(--theme-five);
    width: 100%;
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    display: none;
}

nav ul {
    margin: 0;
    padding: 0;

}

nav li {
    margin-bottom: 1rem;
    margin-left: 1rem;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
}

nav a:hover {
    color: black;
}


/* 
Look for nav which is a sibling of nav toggle (ie the checkbox added to the index html code.
When check box is checked display:block will show menu which is defaulted to hidden by display: none in nav
*/
.nav-toggle:checked ~ nav {
    display: block;
}